 <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/style.css">
  <title>{{ pageTitle }}</title>
    
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <header>
    <h1>WELCOME TO MY BLOG PAGE</h1>
    <nav>
      <a href="/">Home</a>
      <a href="/about">About</a>
      <a href="/admin/dashboard">Admin Dashboard</a>
      <a href="/admin/addBlog">Add New Blog</a>
     
    </nav>
  <h1>About</h1>
   
   </header>
    <center><p>This is the About page. Add your content here.</p></center>
   
</body>
</html>
